    <div class="column is-3 ml-6" >
        <div class="card" style="height: 40rem">
            <div class="card-content">
                <div class="content">
                    <strong>Каталог</strong><br>
                    {% include "categories.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="column is-8 ">
        <div class="card " style="height: 40rem">
            {% include "breadcrumb.html" %}
            <div class="card-content is-flex is-flex-wrap-wrap is-align-items-center">
                {% for item in page.items %}
                    <div class="card mt-2 mb-4 ml-4 mr-4" style="width: 150px; height: 220px">
                        <div class="card-content is-flex is-justify-content-center is-flex-wrap-wrap" >
                            <img src="/media/{{ item.image }}" width="100px" height="100px">
                            <div class="content">
                                {{ item.desc }}
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
        {% include "pagination.html" %}
    </div>
