<nav class="level-right mr-6 mt-6 mb-6">
  <div class="level-right">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong>Поиск по каталогу</strong>
      </p>
    </div>

    <div class="level-item">
      <div class="field has-addons">
          <form action="{% url "search" %}" method="GET">
                <input class="input" type="text" placeholder="Найти товар" name="search">
                <button class="button">Поиск</button>
          </form>
      </div>
    </div>
  </div>
</nav>